.el-button--text {
  margin-right: 15px;
}
.el-select {
  width: 300px;
}
.el-input {
  width: 300px;
  padding-left:20px;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
.DeleteWaring{
  margin-bottom: 20px;
  color: #E6A23C;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: avenir-next-regular;
  word-wrap:break-word;
  word-break: normal;
  margin-left: 10px;
}