
  .dialog-center{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 8px;
    .setting-item{
      width: 30%;
      height:680px;
      background: #eeeeef;
      border-radius: 8px 0px 0px 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .user-name{
        font-size: 16px;
        font-family: avenir-next-regular;
        font-weight: 400;
        color: #333333;
        max-width: 70%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin-top: 20px;
        margin-bottom: 13px;
      }
      div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a{
          font-size: 16px;
          font-family: AvenirNext-DemiBold;
          font-weight: 600;
          color: #757575;
          text-decoration: none;
          display: flex;
          width: 100%;
          span{
            width: calc(100% - 19%);
            padding-left: 19%;
            padding-top: 8px;
            padding-bottom: 8px;
            
          }
        }
        a:hover{
          cursor: pointer;
          background-color: #dcdcdc;
        }
        
      }
    }
    .item-view{
      width: 80%;
      height: 680px;
    }
    .active-item{
      background-color: #D8D8D8;
    }
  }